.octane-vault-content {
    min-height: 0;
    overflow-y: auto;
}

@media (max-width: 460px) {
    .octane-vault-content > div {
        align-items: stretch;
        flex-wrap: wrap;
    }

    .octane-vault-content > div > button {
        margin-left: auto;
    }
}
